<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 mx-4">Py Data</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <!-- <li class="nav-item"><a href="/dados" class="nav-link">Dados</a></li> -->
            <li class="nav-item"><a href="/about" class="nav-link">Sobre</a></li>
        </ul>
    </header>
    <main class="container">
        <h1>Olá, essa é a página inicial!</h1>
        <p>Bem-vindo ao nosso projeto de Data Science com Python. Aqui você encontrará análises e visualizações de dados
            interessantes.</p>


            <form action="/" method="post">
                <div class="mb-3">
                    <label for="limit" class="form-label">Número de Itens a Exibir:</label>
                    <input type="number" class="form-control" id="limit" name="limit" value="{{ limit }}" min="1" max="1000" required placeholder="Digite um número entre 1 e 1000">
                </div>
                <button type="submit" class="btn btn-success">Atualizar</button>
            </form>

        <div class="row">
            <div class="col">
                {{ graph_html|safe }}
            </div>

            <div class="col">
                {{ produtos_html|safe }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ preco_html|safe }}
            </div>

            <div class="col">
                {{ frete_html|safe }}
            </div>
        </div>


        <div class="row">
            <div class="col">
                {{ envio_html|safe }}
            </div>

            <div class="col">
                {{ cidade_html|safe }}
            </div>
        </div>

    </main>
</body>

</html>